.navbar{
	display:flex;
	justify-content: flex-end;
	gap: 10px;
	margin-right: 20px;
} 
.nav-item{
	text-decoration: none;
	color: black;
	margin-right: 15px;
}

.nav-item:hover{
	text-decoration: underline;
}
.main{
	margin-top: 100px;
	text-align: center;
}
.input-area{
	margin-top: 10px;
	margin-bottom: 10px;
}
.input-box{		
	border-radius: 24px;
	width: 482px;
	height: 44px;
	
	padding-left: 50px;
	padding-right: 50px;
	border: 2px solid rgb(188, 186, 186);
	box-shadow: none;
}
.search-icon{
	position:relative;
	left:40px;
	color: gray;
}
.mic{
	position:relative;
	right:40px;
	color: gray;
}

.btn{
	height:36px;
	background-color: rgb(218, 217, 217);
	border: 1px solid rgb(218, 217, 217);
	border-radius: 4px;
	font-family: arial, sans-serif;
	padding: 0 16px;
	margin: 11px 4px; 
}
.btn-area{
	display:flex;
	justify-content: center;
	gap: 10px;
}

.btn:hover{
	box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
	background-color: gray;
	color: white;
	border: 1px solid gray;
	cursor: pointer;
}
.language{
	text-decoration: none;
	padding: 0 3px;
}
.language:hover{
	text-decoration: underline;
	background-color: rgb(237, 237, 237);
}
.footer{
	position: absolute;
	bottom: 0px;
	background: rgb(203, 203, 203);
	width: 100%;
	
}
.first-line{
	padding: 15px 30px;
	border-bottom: 1px solid gray;
	font-size: 15px;
}
.second-line{
	padding: 15px 30px;
	border-bottom: 1px solid gray;
	font-size: 15px;
	display:flex;
	justify-content: space-between;
}
.gapping{
	display:flex;
	gap: 10px;
}